/*Root: basic values */
.root {
	-fx-background: #1ec45d;
	-fx-font-family: "Century Gothic";
	-fx-accent: #29bd4e;
	-fx-focus-color: #22b1bb;
}

.parent {
	-fx-background-color:#2e755f;
	-fx-border-color: linear-gradient(to right, rgb(9, 87, 29) 6%,rgb(135, 255, 171) 29%,rgb(135, 255, 171) 68%,rgb(9, 87, 29) 96%);
	-fx-border-style: solid;
	-fx-border-width: 1;
}

/*Buttons*/
.button {
    -fx-background-color: 
    	#5a635d,
    	radial-gradient(center 50% 0%, radius 100%, rgb(44, 97, 62) 3%,rgb(13, 124, 69) 100%);
    -fx-background-insets: 1;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-padding: 0;
    -fx-text-fill: #FFFFFF;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}


.button:focused {
    -fx-background-insets: 1;
    -fx-background-radius:  5, 5, 4, 3;
    -fx-accent: #95c997;
	-fx-focus-color: #95c9a5;
}

.button:hover {
    -fx-background-color: radial-gradient(center 50% 0%, radius 100%, rgba(255,255,255,1) 0%,rgba(120,190,255,1) 50%,rgb(135, 255, 151) 100%);
	-fx-text-fill: black;
}


.button:disabled {
    -fx-opacity: 0.4;
}

/*Labels*/
.label {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Century Gothic";
}

.label:disabled {
    -fx-opacity: 0.4;
}


#titles.label {
	-fx-border-color: linear-gradient(to right, rgb(22, 19, 162) 6%,rgb(27, 158, 167) 29%,rgb(22, 103, 179) 68%,rgb(80, 22, 167) 96%);
	-fx-border-style: solid;
	-fx-border-width: 0 0 1 0;
}

#welcome.label {
	-fx-text-fill: linear-gradient(to right, rgb(4, 10, 55) 6%,rgb(28, 60, 129) 29%,rgb(28, 60, 129) 68%,rgb(4, 10, 55) 96%);
}

#tableTitles.label {
    -fx-font-size: 16px;
    -fx-alignment:center;
    -fx-content-display:center;
    -fx-fill: white;
}

/*TableView*/
.table-view {
    -fx-background-color: derive(#7b7687, -3%) ;
    -fx-background-insets: 0,1;
    -fx-padding: 1;
    -fx-table-header-border-color: #5D5A63;
    -fx-table-cell-border-color: #bbbbbb;
    -fx-font-size: 14px;
}

.table-view:focused,
.tree-table-view:focused {
    -fx-background-color:  #9ED1FF;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    -fx-padding: 1;
}


	/* This is the area behind the column headers. An ideal place to specify background
	   and border colors for the whole area (not individual column-header's). */
.table-view .column-header-background,
.tree-table-view .column-header-background {
    -fx-background-color: #777282;
    -fx-padding: 0;
}

	/* The column header row is made up of a number of column-header, one for each
	   TableColumn, and a 'filler' area that extends from the right-most column
	   to the edge of the tableview, or up to the 'column control' button. */
.table-view .column-header,
.tree-table-view .column-header {
    -fx-text-fill: white;
    -fx-font-size: 14px; 
    -fx-size: 25;
    -fx-border-style: solid;
    -fx-border-color: #777282;
    -fx-border-insets: 0;
    -fx-border-width: 1px;
    -fx-background-color:linear-gradient(to bottom, rgba(119,114,130,1) 0%,rgba(134,153,150,1) 100%);
    -fx-background-radius: 5;
}

.table-view .filler,
.tree-table-view .filler {
    -fx-size: 25;
    -fx-border-style: solid;
    -fx-border-color: #777282;
    -fx-border-insets: 0 0 1 0, 0 0 0 0;
    -fx-border-width: 0.083333em, 0.083333em 0 0.083333em 0.083333em;
}

.table-view .column-header .label,
.tree-table-view .column-header .label {
    -fx-alignment: center;
}

	/* Each row in the table is a table-row-cell. Inside a table-row-cell is any
	   number of table-cell. */
.table-row-cell {
	-fx-background-color:#777282;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0;
    -fx-text-fill: white;
}

.table-row-cell:odd {
    -fx-background-color: derive(#777282, -5%);
    -fx-background-insets: 0, 0 0 1 0;
}

.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:focused:selected,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:focused:selected {
    -fx-background-color: #9ED1FF;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: #000000;
}

.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected > .table-cell,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected > .tree-table-cell {
    -fx-text-fill: #000000;
}

.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected {
    -fx-text-fill: #000000;
}

.table-row-cell:focused:odd {
    -fx-background-color: #9ED1FF;
    -fx-background-insets: 0, 1, 2;
}

.table-cell {
    -fx-padding: 1;
    -fx-background-color: transparent;
    -fx-border-color: #A5BAB8, #777282, #A5BAB8, #777282 ;
    -fx-border-width: 1;
    -fx-cell-size: 2.0em;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

/*TabPane & tabs */
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.tab-pane > .tab-header-area > .headers-region > .tab:top {
    -fx-background-color: #B787FF, #726F78;
    -fx-background-radius: 5 5 0 0, 4 4 0 0;
}


.tab-pane > .tab-header-area > .headers-region > .tab:hover {
    -fx-background-color: #B787FF;
}



.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: #9ED1FF, #5D5A63;
    -fx-background-radius: 5 5 0 0, 4 4 0 0;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: #9ED1FF,  #726F78;
    -fx-effect: innershadow(two-pass-box , rgba(0,0,0,0.6) , 4, 0.0 , 0 , 0);
}

/*Text flow*/
#textFlow {
    -fx-font-smoothing-type: lcd;
    -fx-background-color: #777282;
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 6 6 6 6;
    -fx-border-color: #7ABCFF;
    -fx-border-width:1px;
    -fx-font-size: 14px;
}

/*Texts*/
#errormsg {
    -fx-text-fill: #ff5c5c;
}

#warningmsg {
    -fx-text-fill: #e4fc0f;
}

#infomsg {
    -fx-text-fill: white;
}

/*TextArea*/
.text-area {
    -fx-background-color: #777282;
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 1;
    -fx-border-color: #7ABCFF;
    -fx-border-width:1px;
    -fx-text-fill:white;
}

.text-area:focused {
	-fx-background-color: #B787FF, #777282;
}

.text-area .content {
	-fx-background-color: #777282;
	-fx-text-fill:white;
}

/*Text field*/
.text-field {
    -fx-background-color: #189e45, #c2dfff;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 2;
    -fx-padding: 0.25em 0.416667em  0.333333em 0.416667em; /* 3 5 4 5 */
    -fx-text-fill: black;
    -fx-prompt-text-fill: gray;
    -fx-cursor: text;
}

.text-field:focused {
    -fx-background-color: #D3A2FF, #5B467C,  #c2dfff;
    -fx-background-insets: -0.4, 1, 2;
    -fx-background-radius: 3.4, 2, 2;
    -fx-prompt-text-fill: transparent;
}

.text-field:disabled {
    -fx-opacity: 0.4;
}

.radio-button {
    -fx-text-fill: white;
}

/*Split pane*/
.split-pane {
    -fx-padding: 1;
    -fx-border-width: 1;
    -fx-border-color: #716D7C;
    -fx-background-color: #5D5A63;
}

.split-pane > .split-pane-divider {
    -fx-padding: 0 2 0 2; /* 0 3 0 3 */
    -fx-background-color: #716D7C;
}

.split-pane > .split-pane-divider > .horizontal-grabber {
    -fx-padding: 5 1 5 1;
    -fx-background-color: #716D7C, #B9D5F3;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-shape: "M0 0 L0 0 L2 0 L2 2 L0 2 Z M0 4 L0 4 L2 4 L2 6 L0 6 Z M0 8 L0 8 L2 8 L2 10 L0 10 Z";
}

